# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static Libraries
*.lai
*.la
*.a

# Project Files
.cproject
.project
.wrmakefile
.wrproject

# Output Files
PPC603gnu/
