# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static Libraries
*.lai
*.la
*.a

# Project Files
.cproject
.project
.wrmakefile
.wrproject

# Output Files
PPC603gnu/

# Qt machine-dependent file
FRC-2013.pro.user

# MakeGen.exe // Ethans custom crap.
*.exe
*.dll

Makefile
Makefile.Debug
Makefile.Release

#its building here...
Deploy/builder/2013
Deploy/builder/2013_partialImage
